@model ICollection<PiattoViewModel> 

<h1>Lista Piatti</h1>
<div>
    <table class="table table-sm table-dark table-striped">
        <thead>
            <tr>  
                <th>Tipologia</th>
                <th>Nome</th>
                <th>Prezzo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.tipologia</td>
                    <td>@item.Nome</td>
                    <td>@item.Prezzo</td>
                    <td>
                        
                        @if (User.IsInRole("Administrator"))
                        {
                            <a class="btn btn-light btn-outline-dark rounded-0" asp-controller="Piatti" asp-action="Edit" asp-route-id="@item.Id">Modifica piatto</a>
                            <a class="btn btn-outline-danger rounded-0" asp-controller="Piatti" asp-action="Delete" asp-route-id="@item.Id">Elimina piatto</a>
                            <a class="btn btn-light btn-outline-dark rounded-0" asp-controller="Piatti" asp-action="Assegna" asp-route-id="@item.Id">Inserisci nel menú</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
        <th></th>
        <th></th>
        <th></th>
        <th>
             @if (User.IsInRole("Administrator")){
            <a type="button" class="btn btn-light btn-outline-dark rounded-0" asp-controller="Piatti" asp-action="Create">Inserisci nuovo piatto</a>
             }        
        </th>

        </tfoot>
    </table>
</div>